

.internal_conteiner{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: hidden;    
    justify-content: center;
    align-items: center; 
    align-content: flex-start;

   }

.home_button_block{
    width: 200px;
    height: 100%;
    background-color: azure;
    flex: 1;
}   

.text_block{

    position: absolute;
    top: 18%;
    left: 7%;
    font-style: light;
    text-align: left;
}

.next_button_block{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: yellow;
}

.qr_cod{
    width: 400px;
    height: 400px;
}

.inside_main_conteiner{
    /* position: absolute;
    top: 600px; */
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    gap: 25px;


}

.inside_main_conteiner-two {
    margin-top: 200px;
    margin-bottom: 400px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.for_whom{
    width: 100%;
    align-items: flex-start;
    background: radial-gradient(
        150% 800% at 0% 100%,
        rgba(0, 46, 40, 1) 0%,
        rgba(64, 157, 122, 1) 40%,
        rgba(77, 255, 201, 1) 80%
      );
    background-color: rgba(255, 255, 255, 1.0);
    border: 1px solid;
    border-color: transparent;
    border-radius: 20px;
    box-shadow: -4px 8px 15.399999618530273px 4px rgba(77, 255, 201, 0.5);
    display: flex;
    flex-direction: column;

    padding: 20px 40px;
    position: relative;
    
}

.bottom_container_four{
    width: 110%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 1%;
    /* height: 800px; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    align-content: flex-start;
    
}

.bottom_container_horizontal{
    width: 98%;
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
    margin: 0 15px 0 15px;

}

.otraslevie_napravlenia{
    background-image: url("../Img/otraslevie_napravlenia.png");
    width: 113%;
    height: 900px;
    background-size:contain;
    background-repeat: no-repeat;
}

.bottom_container_vertical{
    width: 98%;
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 0px 15px 25px 15px ;
    position: relative;
    align-items: stretch;
    justify-content: space-between;
}

.for_statistic_wrapper {
    position: relative;
    flex: 1;
    display: flex;
    
}

.for_statistic_wrapper_two{
    position: relative;
    /* flex: 1; */
    display: flex;
    width: 108%;
    
}

.for_statistic_qr {
    position: relative;
    flex: 2;
    display: flex;
    
}

.for_statistic{
    flex: 1;
    box-shadow: -4px 8px 15.399999618530273px 4px rgba(77, 255, 201, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
    border: 1px solid rgba(77, 255, 201, 0.2); 
    padding: 20px 20px 20px 40px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: visible;
    align-content: flex-start;
    z-index: 1; 
    isolation: isolate; 
    
}

.four_statistic_block{
    width: 98%;
    margin-top: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.circle{
    background: radial-gradient(
        50% 50% at 62% 49%,
        rgba(139, 255, 126, 1) 0%,
        rgba(77, 255, 201, 1) 33%,
        rgba(82, 235, 133, 1) 65%,
        rgba(39, 204, 210, 1) 100%
      );
      border-radius: 100px;
      width: 5%;
      max-width: 20px;
      height: 50%;
      min-height: 132px;
      min-width: 26px;
      position: absolute;
      top: 25%;
      left: -10px;
      z-index: 0;
}


.for_statistic_row{
    flex: 1;
    box-shadow: -4px 8px 15px 4px rgba(77, 255, 201, 0.3), 
                inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
    border: 1px solid rgba(77, 255, 201, 0.2); 
    padding: 20px 20px 20px 40px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: flex-start; 
    align-items: center;
    gap: 2%;
    z-index: 1;
    isolation: isolate;
}



.for_p{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-wrap: break-word; 
}

.for_qr{
    /* flex: 1; */
    box-shadow: -4px 8px 15px 4px rgba(77, 255, 201, 0.3),
                inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
    border: 1px solid rgba(77, 255, 201, 0.2); 
    padding: 40px 40px 50px 40px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    align-content: flex-start;
    z-index: 1; 
    isolation: isolate;
    
    
}

.logo_gr{
    width: 240px;
    height: 240px;
}


.horizont{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    align-content: flex-end;
    }



.indicator_size{
    /* flex: 1; */
    font-size: 105pt;
    margin: 0;
}

.down{
    margin-bottom: 9%;
}

.title_container{

    text-align: left;
    width: 88%;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0px 40px 20px 80px;
        
}

.title_container_two{
    margin-top: 200px ;
    text-align: left;
    width: 105%;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0px 20px 0px 0px;
        
}

.title_one{
    margin: 0;
}

.textOne{
    position: absolute;
    top: 12%;
    left: 7%;

    text-align: left;
}

.images_insideTwo{
    position: absolute;
    top: 20%;
    left: 50%;
    width: 450px;
    height: 450px;

}
/* box-shadow: -4px 8px 15px 4px rgba(77, 255, 201, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1); */
.flex_row{
    display: flex;
    flex-direction: row;
    /* width: 1080px; */
}

.flex_column{
    display: flex;
    flex-direction: column;
    gap: 4%;
    /* padding:  50px 0 0 0 ; */
}

.logo_gr_two{
    width: 350px;
    height: 350px;
    margin-top: 20px;
}

.content_conteiner{
    /* height: 1800px; */
    text-align: left;
    width: 105%;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0px 20px 0px 0px;
    
}

.contaniner_qr{
    width: 108%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.five{
    position: relative;
}

.for_whom_four{
    width: 100%;
    align-items: flex-start;
    background: radial-gradient(
        150% 800% at 0% 100%,
        rgba(16, 0, 40, 1) 0%,
        rgba(140, 72, 241, 1) 40%,
        rgba(154, 93, 242, 1) 80%,
        rgba(202, 170, 248, 1) 80%
      );
    background-color: rgba(255, 255, 255, 1.0);
    border: 1px solid;
    border-color: transparent;
    border-radius: 20px;
    box-shadow: -4px 8px 15.399999618530273px 4px rgba(116, 77, 255, 0.5);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 40px;
    position: relative;
    
}

.for_qr_four{
    /* flex: 1; */
    box-shadow: -4px 8px 15px 4px rgba(116, 77, 255, 0.5),
                inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
    border: 1px solid rgba(77, 255, 201, 0.2); 
    padding: 40px 40px 40px 40px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    align-content: flex-start;
    z-index: 1; 
    isolation: isolate;
    
    
}

.for_statistic_four{
    flex: 1;
    box-shadow: -4px 8px 15px 4px rgba(116, 77, 255, 0.5),
                inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
    border: 1px solid rgba(77, 255, 201, 0.2); 
    padding: 20px 20px 20px 40px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: visible;
    align-content: flex-start;
    z-index: 1; 
    isolation: isolate; 
    font-size: 32pt;    
}



.statistic_p{
    font-size: 32pt;
    font-style: normal;
    font-weight: 400;
}

.not_margin_top{
    margin-top: 10px;
}