.home_button_container{
    position: absolute;
    top: 7%;
    left: 6%;
    width: 125px;
    height: 125px;
    background-image: url("../Img/home_button.png");
    background-size:contain;
    background-repeat: no-repeat;
    z-index: 3;
}

.next_button_container{
    position: absolute;
    top: 7%;
    right: 7%;
    width: 125px;
    height: 125px;
    background-image: url("../Img/nextButton.png");
    background-size:contain;
    background-repeat: no-repeat;
    z-index: 3;
}

.back_button_container{
    position: absolute;
    top: 7%;
    left: 15%;
    width: 125px;
    height: 125px;
    background-image: url("../Img/backbutton.png");
    background-size:contain;
    background-repeat: no-repeat;
    z-index: 3;
}


.menu_button {
    width: 100%;
    max-width: 1200px;
    height: 200px;
    background-image: url("../Img/button_menu.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 40px;
    align-items: center;
    text-align: center;

}

.correct_for_button{
    width: 80%;
    padding-left: 2%;
    padding-bottom: 1%;
}

.gloabal_button_style h3{
    margin-top: 20px;
    padding: 0 10px; /* Отступы по бокам для текста */
    position: relative; /* Для возможных эффектов */
    z-index: 2; /* Поднимаем текст над возможными псевдоэлементами */
}


